#gitignore file

#ignore working files in idl_progs directory
/gpfsm/dnb53/etwolf/models/ExoRT/idl_progs/INPUT
/gpfsm/dnb53/etwolf/models/ExoRT/idl_progs/OUTPUT
/gpfsm/dnb53/etwolf/models/ExoRT/idl_progs/*.nc


__pycache__/
*~
*.ps
*.eps

# apple
.DS_Store


CLAUDE.md
REFACTOR_PLAN.md
